<div id="body">
    <h2 style="color: white;">Sign In</h2>
    <form [formGroup]="userDetailForm">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput placeholder="email" type="email" formControlName="email">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput placeholder="password" type="password" formControlName="password">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Confirm Password</mat-label>
                <input matInput placeholder="confirm password" type="password" formControlName="confirmPassword">
            </mat-form-field>
        </div>

        <div *ngIf="confirmPassword.dirty && confirmPassword.errors?.invalidPassword" class="invalid">
            passsword and confirm password should be the same
        </div>

        <div>
            <button type="submit" mat-raised-button color="primary" [disabled]="!userDetailForm.valid"
                (click)="register()">Register</button>
        </div>

    </form>
</div>